.card {
  width: 90%;
  margin: auto;
  max-width: 500px;
  background-color: #fff;
  border-radius: $borderRadius;
  margin-bottom: 4.4375rem;
  $contentContainerWidth: 85%;

  &__img {
    img {
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }
  }

  &__details {
    text-align: center;
    @include cardContentContainer;
    h1 {
      margin-top: 2.18rem;
      color: $darkBlue;
      font-size: 1.6rem;
    }

    p {
      color: $desBlue;
      font-size: 1rem;
    }
  }

  &__price {
    @include cardContentContainer;
    margin-top: 1.625rem;
    background-color: $veryPaleBLue;
    display: grid;
    grid-template-columns: auto 2fr auto;
    grid-template-rows: repeat(2, 1fr);
    padding: 1.5rem;
    border-radius: $borderRadius;
    column-gap: 1.25rem;
    margin-bottom: 2rem;

    .music-icon {
      grid-row: 1/3;
    }

    span {
      font-size: 0.9rem;
    }

    &__title {
      font-weight: $fontWBlack;
      color: $darkBlue;
    }

    a {
      grid-column: 3/4;
      grid-row: 1/3;
      align-self: center;
      font-size: 0.85rem;
      color: $brightBlue;
      transition: opacity 300ms ease-in-out;

      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }

  &__actions {
    @include cardContentContainer;
    padding-bottom: 0.5rem;
  }
}
