$paleBlue: hsl(255, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBLue: hsl(225, 100%, 98%);
$desBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

// 16px
$fontSize: 1rem;
$fontWMedium: 500;
$fontWBold: 700;
$fontWBlack: 900;

$borderRadius: 20px;
